<a href="https://colab.research.google.com/github/ghassenov/ML-notebooks/blob/main/python_basics_for_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Lists

In [ ]:
l = [1,2,3,4,5] #lists elements can be accessed using [] (note that [n:m] n->m-1 and -1 is the last element of the list)
l2 = [1,1,1,1] #allows duplicates
print(len(l)) #prints the len of a list

5

In [ ]:
#lists can support multiple data types
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
# it is also possible to use the list() constructor when creating a new list
l1 = list((1,2,3))
print(l1)

[1, 2, 3]

In [ ]:
#insert() inserts an item at the specified index
l=[1,2,3]
l.insert(1,"hello")
print(l)

[1, 'hello', 2, 3]

In [ ]:
#append() adds an element to the end of the list
l.append(5)
print(l)

[1, 'hello', 2, 3, 5]

In [ ]:
#extend() appends elements from another list
l1=[6,7]
l.extend(l1)
print(l)
#we can also use simple concatenation with "+"

[1, 'hello', 2, 3, 5, 6, 7]

In [ ]:
#remove() removes specified item (first occurence)
l.remove(7)
print(l)

[1, 'hello', 2, 3, 5, 6]

In [ ]:
#pop() same as remove but uses an index as an argument (we can also use del)
l.pop(5)
print(l)
#clear() empties the list, but the list remains

[1, 'hello', 2, 3, 5]

In [ ]:
#loop through a list with for:
for x in l:
  print(x)

1
hello
2
3
5

In [ ]:
# or using range() and len()
for i in range(len(l)):
  print(l[i])

1
hello
2
3
5

In [ ]:
#list comprehension
#syntax:
#newlist = [expression for item in iterable if condition == True]
l=[1,2,3,4,5,6]
l1 = [x for x in l if x%2==0]
print(l1)

[2, 4, 6]

In [ ]:
l2 = [x for x in range(10)]
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l3 = [x if x%2==0 else 0 for x in l]
print(l3)

[0, 2, 0, 4, 0, 6]

In [ ]:
#sort() sorts the list alphanumerically
#sort(reverse = True)-> sorts descending
l.sort(reverse=True)
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
def f(n):
  return abs(n-50)
l = [100,50,65,82,23]
l.sort(key = f)
print(l) #sorts the list based on how close the number is to 50

[50, 65, 23, 82, 100]

In [ ]:
#(key = str.lower) performs a case-insensitive sort of the list
#reverse() reverses a list
l.reverse()
print(l)

[100, 82, 23, 65, 50]

In [ ]:
#copy() copies a list to another
l2 = l.copy()
print(l2)
#we can also use the ":" operator
# l2 = l[:]

[100, 82, 23, 65, 50]

Python Tuples