Python Lists

In [ ]:
l = [1,2,3,4,5] #lists elements can be accessed using [] (note that [n:m] n->m-1 and -1 is the last element of the list)
l2 = [1,1,1,1] #allows duplicates
print(len(l)) #prints the len of a list

5

In [ ]:
#lists can support multiple data types
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
# it is also possible to use the list() constructor when creating a new list
l1 = list((1,2,3))
print(l1)

[1, 2, 3]

In [ ]:
#insert() inserts an item at the specified index
l=[1,2,3]
l.insert(1,"hello")
print(l)

[1, 'hello', 2, 3]

In [ ]:
#append() adds an element to the end of the list
l.append(5)
print(l)

[1, 'hello', 2, 3, 5]

In [ ]:
#extend() appends elements from another list
l1=[6,7]
l.extend(l1)
print(l)
#we can also use simple concatenation with "+"

[1, 'hello', 2, 3, 5, 6, 7]

In [ ]:
#remove() removes specified item (first occurence)
l.remove(7)
print(l)

[1, 'hello', 2, 3, 5, 6]

In [ ]:
#pop() same as remove but uses an index as an argument (we can also use del)
l.pop(5)
print(l)
#clear() empties the list, but the list remains

[1, 'hello', 2, 3, 5]

In [ ]:
#loop through a list with for:
for x in l:
  print(x)

1
hello
2
3
5

In [ ]:
# or using range() and len()
for i in range(len(l)):
  print(l[i])

1
hello
2
3
5

In [ ]:
#list comprehension
#syntax:
#newlist = [expression for item in iterable if condition == True]
l=[1,2,3,4,5,6]
l1 = [x for x in l if x%2==0]
print(l1)

[2, 4, 6]

In [ ]:
l2 = [x for x in range(10)]
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l3 = [x if x%2==0 else 0 for x in l]
print(l3)

[0, 2, 0, 4, 0, 6]

In [ ]:
#sort() sorts the list alphanumerically
#sort(reverse = True)-> sorts descending
l.sort(reverse=True)
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
def f(n):
  return abs(n-50)
l = [100,50,65,82,23]
l.sort(key = f)
print(l) #sorts the list based on how close the number is to 50

[50, 65, 23, 82, 100]

In [ ]:
#(key = str.lower) performs a case-insensitive sort of the list
#reverse() reverses a list
l.reverse()
print(l)

[100, 82, 23, 65, 50]

In [ ]:
#copy() copies a list to another
l2 = l.copy()
print(l2)
#we can also use the ":" operator
# l2 = l[:]

[100, 82, 23, 65, 50]

Python Tuples

Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable (allows duplicates).

In [1]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [ ]:
#use len() to determine how many items.
#a tuple can contain different data types
t1=(1,"hello",True)

In [2]:
# accessing elements with []
print(t[0])
#-1 refers to the last element

1

In [4]:
#updating tuple elements is impossible, you can convert it into a list than change the list and convert back into a tuple
l = list(t)
l[2]=4
t = tuple(l)
print(t)

(1, 2, 4)

In [7]:
#appending elements to a tuple can be done multiple ways:
# 1-converting it into a list
# 2- concatenating tuples using "+"
t2 = (4,5,6)
t3 = (1,2,3)
t = t3 + t2
print(t)

(1, 2, 3, 4, 5, 6)

In [8]:
#deleting tuple elements can be done by converting to list or using "del" to completely erase it
del t2

In [11]:
#unpacking a tuple
(x,y,z) = t3
print(x)
print(y)
print(z)
# or by using * if the number of variables is less than the number of values
(x,y,*z) = t
print(z) # z will be a list of elements

1
2
3
[3, 4, 5, 6]

In [17]:
# tuple methods:
x = t.count(1) #counts number of occurences of "1"
print(x)
print(t.index(4)) #returns index of a specified value

1
3

Python sets

A set is a collection which is unordered, unchangeable, and unindexed.

---
Note: Set items are unchangeable, but you can remove items and add new items.

In [18]:
s = {1,2,3}
print(type(s))

<class 'set'>

In [21]:
#sets elements are unique
s = {1,2,3,4,1}
print(s)

{1, 2, 3, 4}

In [22]:
# note that True and 1 hold the same value in a set, same with 0 and False
#sets can contain different data types
s1= {1,False,"hellow"}
print(s1)

{False, 1, 'hellow'}

In [23]:
# to add an element we use .add()
s1.add(2)
# to add elements from another set into the current set we use .update()
s2={10,15,20}
s1.update(s2)
print(s1)
#.update() can have any iterable in its argument

{False, 1, 2, 20, 10, 15, 'hellow'}

In [24]:
#we use .remove() or .discard() to remove an item, the difference, remove() will raise an error if the element does not exist
s1.remove(10)
#pop() removes a random item
# clear() empties the set
# del deletes the set completely

In [26]:
#There are several ways to join two or more sets in Python.
#The union() and update() methods joins all items from both sets.
#The intersection() method keeps ONLY the duplicates.
#The difference() method keeps the items from the first set that are not in the other set(s).
#The symmetric_difference() method keeps all items EXCEPT the duplicates.

set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

Python dictionaries
Dictionaries are used to store data values in key:value pairs.

---
A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [28]:
print(thisdict["year"])

1964

In [ ]:
#values in dictionary can be of any data type
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [29]:
#get() method used to get a value of a key
#.keys() returns a list of keys
#.values() returns a list of all values in the dictionary
#.items() return each item in a dictionary as tuples in a list
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [30]:
#changing-adding values or key-values respectively is direct using [] or using update()
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [31]:
#to remove an item we use pop() with specified key name
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2020}

In [32]:
# del does the same job
del thisdict['year']
print(thisdict)

{'brand': 'Ford'}

In [33]:
# to loop through keys and values we use .items()
for x , y in thisdict.items():
  print(x,y)

brand Ford

In [34]:
# we use copy() to make a copy of a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}